/* Define color variables*/
:root {
    --dark: rgb(58,47,48);
    --light: rgb(235,233,219);
    --main: rgb(158,39,18);
    --med-light: rgb(169,161,144);
    --highlight: rgb(226,156,43);
}

* {
    font-family: "articulat-cf", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-content: left;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;

    background-color: var(--dark);
    color: var(--light);
}

h1 {
    display: flex;
    text-align: center;

    font-weight: 800;
    font-style: normal;
    font-size: 9vw;

    color: var(--main);
}

h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
}

a {
    justify-items: left;
}

.start {
    display: flex;
    padding-top: 30%;
}

/* Hides the result container and the name submision form*/
#result-container {
    display: none;
    flex-direction: column;
    justify-content: space-around;

 }
 
#quiz-container {
    display: none;
    flex-direction: column;
    align-content: center;
    padding: 12%;
    padding-top: 30%;
}

#timer {
    display: none;
    padding: 6%;
}

#high-scores-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 6%;
}

/* Button configurations*/
button {
    padding: 2%;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5vw;

}

button:hover {
    background-color: var(--highlight);
    color: var(--light);
    background-color: var(--highlight);
    box-shadow: 0px 0px 5px 1px var(--light);
    border-radius: 3px;
    border-color: var(--highlight);
}

#start-btn {
    padding: 12%;
    color: var(--dark);
    background-color: var(--med-light);

    font-weight: 800;
    font-style: normal;
    font-size: 3vw;
}

#next-btn {
    font-size: 2vw;
    color: var(--main);
    background-color: var(--med-light);
}

#start-btn:hover {
    background-color: var(--highlight);
    box-shadow: 0px 0px 10px 1px var(--light);
    
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 12vw;
    }
  }

@media screen and (max-width: 425px) {
   h1 {
    font-size: 21vw;
   }
  }